div#TimeTable
  ul.uk-tab( data-uk-tab="{connect:'#tables'}" )
    li.uk-active
      a カンファレンスDay1
    li
      a カンファレンスDay2

  div#tables.uk-switcher
    table#day-1
      tr
        th room1
        th room2
        th room3
        th room4
        th room5
      tr
        td talk1
        td talk2
        td talk3
        td talk4
        td talk5
    table#day-2
      tr
        th room1
        th room2
        th room3
        th room4
        th room5
        th room6
        th room7
      tr
        td talk1
        td talk2
        td talk3
        td talk4
        td talk5
        td talk6
        td talk7
