#TimeTable
  margin-bottom: 10rem

  ul.uk-tab
    li
      padding-right: 1.2rem
      a
        font-size: 21px
        font-weight: 300
        padding-bottom: .5rem

  #tables
    @media (max-width: 1340px)
      overflow-x: scroll

  table
    width: 1296px
    border-collapse: collapse
    border-spacing: 0
    font-weight: normal
    tr > th.t-time
      width: 4rem
    tr
      &:not(.t-head)
        th
          width: 4rem
    tr.t-head
      th
        &:not(.t-time)
          border-bottom: 1px solid #9B9B9B
    tr
      height: 60px
    tr.t-head
      height: 60px
    tr.t-session,
    tr.t-keynote
      height: 150px
    td
      text-align: center
      border: 1px solid #9B9B9B
    tr
      &:not(.t-session)
        td
          &:not(.event)
            background-color: #d8d8d8
      td.close
        background-color: #d8d8d8
    th
      position: relative
      font-weight: 300
    time
      display: flex
      align-items: center
      justify-content: center
      position: absolute
      top: 0
      left: 0
      width: 4rem
      min-height: 1.4rem
      background-color: #666666
      font-size: 13px
      text-align: left
      font-weight: normal
      color: #FFF
  table#day-1
    td
      width: calc((1296px - 4rem) / 6)

  table#day-2
    td
      width: calc((1296px - 4rem) / 7)

  article.session-summary
    padding: .4rem
    text-align: left
    span
      text-align: right
      color: #9B9B9B
      font-weight: 300
      font-size: 12px
    h3
      margin: .8rem 0 0 0
      font-size: 15px
    p.name
      margin: .3rem 0 0 0
      font-size: 13px
    p.disc
      margin: .6rem 0 0 0
      font-size: 10px
    ul
      list-style: none
      padding: 0
      margin: .8rem 0 .6rem
      li
        font-size: 12px
        font-weight: 300
        background-color: #666
        color: #FFF
        padding: 0 .2rem
        margin-right: .3rem
        margin-top: .2rem
