div#TimeTable
  ul.uk-tab(uk-tab="{connect:'#tables'}" uk-switcher="{swiping:false}")
    li.uk-active(data-tab="day-1" v-on:click="changeTab")
      a カンファレンスDay1
    li(data-tab="day-2" v-on:click="changeTab")
      a カンファレンスDay2

  div#tables.uk-switcher(v-scroll="fixedHead" v-elScroll="parallelScroll")
    section
      div.t-head(ref="day-1" :class='{headFixed:isFixed}' uk-sticky="offset: 112; media: @s")
        ul.uk-flex
          li.t-time
          li A+B会議室
          li 小展示
          li 特別会議室
          li コンベンションホール
          li C会議室
          li D会議室
      table#day-1
        tr.t-admission
          th
            time 9:30
          td
            span.uk-flex.uk-flex-center
              p 開場
          td 
          td 
          td 
          td 
          td 
        tr.t-keynote
          th
            time 10:00
          td
          td
          td
          td.event
            p 基調講演
          td
          td
        tr.t-invited-lecture
          th
            time 11:10
          td
          td
          td
          td.event
            p 招待講演
          td
          td
        tr.t-lunch
          th
            time 12:00
          td
            span.uk-flex.uk-flex-center
              p ランチ
          td 
          td 
          td 
          td 
          td           
        tr.t-session
          th
            time 13:30
          td
            div.session-summary.uk-flex.uk-flex-column
              span.room A+B会議室
              span.event-type talk(30min)
              h3 1次元畳み込みフィルターを利用した音楽データのオートエンコーダ
              p.name 帆下 風雅
              p.disc 概要はどうしましょう、文字数は20～50文字以内でないとセルの幅的にかなり苦行のようにも思われます。
              ul.tag.uk-flex.uk-flex-wrap
                li Keras
                li MachineLearning
                li music
          td
            div.session-summary.uk-flex.uk-flex-column
              span.room A+B会議室
              span.event-type talk(30min)
              h3 1次元畳み込みフィルターを利用した音楽データのオートエンコーダ
              p.name 帆下 風雅
              p.disc 概要はどうしましょう、文字数は20～50文字以内でないとセルの幅的にかなり苦行のようにも思われます。
              ul.tag.uk-flex.uk-flex-wrap
                li Keras
                li MachineLearning
                li music
          td
            div.session-summary.uk-flex.uk-flex-column
              span.room A+B会議室
              span.event-type talk(30min)
              h3 1次元畳み込みフィルターを利用した音楽データのオートエンコーダ
              p.name 帆下 風雅
              p.disc 概要はどうしましょう、文字数は20～50文字以内でないとセルの幅的にかなり苦行のようにも思われます。
              ul.tag.uk-flex.uk-flex-wrap
                li Keras
                li MachineLearning
                li music
          td
            div.session-summary.uk-flex.uk-flex-column
              span.room A+B会議室
              span.event-type talk(30min)
              h3 1次元畳み込みフィルターを利用した音楽データのオートエンコーダ
              p.name 帆下 風雅
              p.disc 概要はどうしましょう、文字数は20～50文字以内でないとセルの幅的にかなり苦行のようにも思われます。
              ul.tag.uk-flex.uk-flex-wrap
                li Keras
                li MachineLearning
                li music
          td
            div.session-summary.uk-flex.uk-flex-column
              span.room A+B会議室
              span.event-type talk(30min)
              h3 1次元畳み込みフィルターを利用した音楽データのオートエンコーダ
              p.name 帆下 風雅
              p.disc 概要はどうしましょう、文字数は20～50文字以内でないとセルの幅的にかなり苦行のようにも思われます。
              ul.tag.uk-flex.uk-flex-wrap
                li Keras
                li MachineLearning
                li music
          td
            div.session-summary.uk-flex.uk-flex-column
              span.room A+B会議室
              span.event-type talk(30min)
              h3 1次元畳み込みフィルターを利用した音楽データのオートエンコーダ
              p.name 帆下 風雅
              p.disc 概要はどうしましょう、文字数は20～50文字以内でないとセルの幅的にかなり苦行のようにも思われます。
              ul.tag.uk-flex.uk-flex-wrap
                li Keras
                li MachineLearning
                li music
        tr.t-rest
          th
            time 14:15
          td
            span.uk-flex.uk-flex-center
              p 休憩
          td
          td
          td
          td
          td
        tr.t-session
          th
            time 14:30
          td talk1
          td talk2
          td talk3
          td talk4
          td talk5
          td talk6
        tr.t-rest
          th
            time 15:15
          td
            span.uk-flex.uk-flex-center
              p おやつ
          td
          td
          td
          td
          td
        tr.t-session
          th
            time 15:45
          td talk1
          td talk2
          td talk3
          td talk4
          td talk5
          td talk6
        tr.t-rest
          th
            time 16:15
          td
            span.uk-flex.uk-flex-center
              p 休憩
          td
          td
          td
          td
          td
        tr.t-session
          th
            time 16:30
          td talk1
          td talk2
          td talk3
          td talk4
          td talk5
          td talk6
        tr.t-closing
          th
            time 17:15
          td
            span.uk-flex.uk-flex-center
              p クロージング
          td
          td
          td
          td
          td          
        tr.t-party
          th
            time 17:30
          td
            span.uk-flex.uk-flex-center
              p Lightning Talk
          td
          td
          td
          td
          td
        tr.t-party
          th
            time 18:00
          td
            span.uk-flex.uk-flex-center
              p パーティ
          td
          td
          td
          td
          td
        tr.t-party-end
          th
            time 20:30
    section
      div#day-2-rooms.t-head(ref="day-2" :class='{headFixed:isFixed}' uk-sticky="offset: 112; media: @s")
        ul.uk-flex
          li.t-time
          li A+B会議室
          li 小展示
          li 特別会議室
          li コンベンションホール
            br
            |梅
          li コンベンションホール
            br
            |鶯
          li C会議室
          li D会議室
      table#day-2
        tr.t-admission
          th
            time 9:30
          td
            span.uk-flex.uk-flex-center
              p 開場
          td
          td
          td
          td
          td
          td
        tr.t-keynote
          th
            time 10:00
          td
          td
          td
          td.event
            p 基調講演
          td
          td
          td
        tr.t-rest
          th
            time 11:00
          td
            span.uk-flex.uk-flex-center
              p 休憩
          td
          td
          td
          td
          td
        tr.t-session
          th
            time 11:15
          td
            div.session-summary.uk-flex.uk-flex-column
              span.room A+B会議室
              span.event-type talk(30min)
              h3 1次元畳み込みフィルターを利用した音楽データのオートエンコーダ
              p.name 帆下 風雅
              p.disc 概要はどうしましょう、文字数は20～50文字以内でないとセルの幅的にかなり苦行のようにも思われます。
              ul.tag.uk-flex.uk-flex-wrap
                li Keras
                li MachineLearning
                li music
          td
            div.session-summary.uk-flex.uk-flex-column
              span.room A+B会議室
              span.event-type talk(30min)
              h3 1次元畳み込みフィルターを利用した音楽データのオートエンコーダ
              p.name 帆下 風雅
              p.disc 概要はどうしましょう、文字数は20～50文字以内でないとセルの幅的にかなり苦行のようにも思われます。
              ul.tag.uk-flex.uk-flex-wrap
                li Keras
                li MachineLearning
                li music
          td
            div.session-summary.uk-flex.uk-flex-column
              span.room A+B会議室
              span.event-type talk(30min)
              h3 1次元畳み込みフィルターを利用した音楽データのオートエンコーダ
              p.name 帆下 風雅
              p.disc 概要はどうしましょう、文字数は20～50文字以内でないとセルの幅的にかなり苦行のようにも思われます。
              ul.tag.uk-flex.uk-flex-wrap
                li Keras
                li MachineLearning
                li music
          td.connecting 
            div.session-summary.uk-flex.uk-flex-column
              span.room コンベンションホール
              span.event-type talk(45min)
              h3 1次元畳み込みフィルターを利用した音楽データのオートエンコーダ
              p.name 帆下 風雅
              p.disc 概要はどうしましょう、文字数は20～50文字以内でないとセルの幅的にかなり苦行のようにも思われます。
              ul.tag.uk-flex.uk-flex-wrap
                li Keras
                li MachineLearning
                li music
          td
          td
            div.session-summary.uk-flex.uk-flex-column
              span.room A+B会議室
              span.event-type talk(30min)
              h3 1次元畳み込みフィルターを利用した音楽データのオートエンコーダ
              p.name 帆下 風雅
              p.disc 概要はどうしましょう、文字数は20～50文字以内でないとセルの幅的にかなり苦行のようにも思われます。
              ul.tag.uk-flex.uk-flex-wrap
                li Keras
                li MachineLearning
                li music
          td
            div.session-summary.uk-flex.uk-flex-column
              span.room A+B会議室
              span.event-type talk(30min)
              h3 1次元畳み込みフィルターを利用した音楽データのオートエンコーダ
              p.name 帆下 風雅
              p.disc 概要はどうしましょう、文字数は20～50文字以内でないとセルの幅的にかなり苦行のようにも思われます。
              ul.tag.uk-flex.uk-flex-wrap
                li Keras
                li MachineLearning
                li music
        tr.t-lunch
          th
            time 12:00
          td
            span.uk-flex.uk-flex-center
              p ランチ
          td
          td
          td
          td
          td
          td
        tr.t-session
          th
            time 13:30
          td talk1
          td talk2
          td talk3
          td talk4
          td talk5
          td talk6
          td talk7
        tr.t-rest
          th
            time 14:15
          td
            span.uk-flex.uk-flex-center
              p 休憩
          td
          td
          td
          td
          td
          td
        tr.t-session
          th
            time 14:30
          td talk1
          td talk2
          td talk3
          td talk4
          td talk5
          td talk6
          td talk7
        tr.t-rest
          th
            time 15:00
          td
            span.uk-flex.uk-flex-center
              p おやつ
          td
          td
          td
          td
          td
          td
        tr.t-session
          th
            time 15:45
          td talk1
          td talk2
          td talk3
          td talk4
          td talk5
          td talk6
          td talk7
        tr.t-rest
          th
            time 16:15
          td
            span.uk-flex.uk-flex-center
              p 休憩
          td
          td
          td
          td
          td
          td
        tr.t-session
          th
            time 16:30
          td talk1
          td talk2
          td talk3
          td talk4
          td talk5
          td talk6
          td talk7
        tr.t-closing
          th
            time 17:00
          td
            span.uk-flex.uk-flex-center
              p 片付け
          td
          td
          td
          td
          td
          td
        tr.t-party
          th
            time 17:15
          td
            span.uk-flex.uk-flex-center
              p Lightning Talk
          td
          td
          td
          td
          td
          td
        tr.t-closing
          th
            time 18:30
          td
            span.uk-flex.uk-flex-center
              p クロージング
          td
          td
          td
          td
          td
          td
        tr.t-party-end
          th
            time 19:00
