#TopNews.uk-section.uk-section-default
    .uk-container
        h2.uk-text-center {{ $t('top.news.head') }}
        ul.uk-list.uk-list-large.uk-list-striped
            li(v-for="item in blog_data.rss.channel.item")
                .uk-text-lead
                    a(:href='item.link._text' target="_blank") {{item.title._text}}
                .uk-text-meta {{ getDate(item.pubDate._text)}}
        a.uk-button.uk-button-default(href="http://pyconjp.blogspot.jp/") {{ $t('top.news.more') }}
