div(uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar")
    .uk-navbar-right
        ul.uk-navbar-nav(class="uk-visible@s")
            li.uk-active
                nuxt-link(:to="$i18n.path('')" exact)
                    | {{ $t('header.navi.top') }}
            li
                nuxt-link(:to="$i18n.path('sponsor')" exact)
                    | {{ $t('header.navi.sponsor') }}
            li
                | {{}}