div#modal-session(uk-modal)
  div.detail-innter.uk-modal-dialog.uk-modal-body
    button.uk-modal-close-default(type='button', uk-close)
    div.talk-schedule
      time {{ dates }}
      span.event-type ({{ talk_format }})
      span.room {{ room }}
    dl.talk-property.uk-flex
      dt.talk-langage 発表言語
      dd.uk-label {{ langage }}
      dt.doc-langage 資料言語
      dd.uk-label {{ slide_langage }}
      dt.talk-level 対象
      dd.uk-label {{ level }}
    h3.uk-modal-title {{ title }}
    p {{ abstract }}
    h4 発表者 
    dl
      dt {{ name }}
      dd
      | {{ profile }}
    h4 講演詳細
    //span
      a(@click="showDescription()") more
    p.desc {{ description }}
    h4(v-if="tags") keywords
    ul.tag.uk-flex.uk-flex-wrap
      li( v-for="item in tags") {{ item }}
