section#TopKeynote.uk-section.uk-section-default
    h2 {{ $t('top.keynote.text.head') }}
      span {{ $t('top.keynote.text.subcaption') }}
    article.keynote-speakers.uk-flex
      section#keynote-info-0917.uk-flex
        img.profile(src='~/assets/img/profiles/manuel-kaufmann.png' :alt="$t('top.keynote.foreigner.name')")
        div.detail
          h3 {{ $t('top.keynote.foreigner.name') }}
          p
            span(v-for="word in $t('top.keynote.foreigner.about')") {{ word }}
              br
      section#keynote-info-0918.uk-flex
        img.profile(src='~/assets/img/profiles/ransui-iso.png' :alt="$t('top.keynote.japanese.name')")
        div.detail
          h3 {{ $t('top.keynote.japanese.name') }}
          p
            span(v-for="word in $t('top.keynote.japanese.about')") {{ word }}
              br

    h2#ivited-lecture {{ $t('top.invited-lecture.text.head') }}
      span {{ $t('top.invited-lecture.text.subcaption') }}
    article.keynote-speakers.uk-flex
      section#keynote-info-0917.uk-flex
        img.profile(src='~/assets/img/profiles/yutaka-matsuo.png' :alt="$t('top.invited-lecture.first.name')")
        div.detail
          h3 {{ $t('top.invited-lecture.first.name') }}
          p
            span(v-for="word in $t('top.invited-lecture.first.about')") {{ word }}
              br
      section#keynote-info-0918.uk-flex
        img.profile(src='~/assets/img/profiles/kotaro-nakayama.png' :alt="$t('top.invited-lecture.second.name')")
        div.detail
          h3 {{ $t('top.invited-lecture.second.name') }}
          p
            span(v-for="word in $t('top.invited-lecture.second.about')") {{ word }}
              br
