section#TopKeynote.uk-section.uk-section-default
    h2 {{ $t('top.keynote.text.head') }}
      span {{ $t('top.keynote.text.subcaption') }}
    article.keynote-speakers.uk-flex
      section#keynote-info-0917.uk-flex
            img.profile(src='~/static/keynote/keynote_256x256.png' alt='')
            div.detail
              h3 {{ $t('top.keynote.japanese.name') }}
              p
                |{{ $t('top.keynote.japanese.about') }}

      section#keynote-info-0918.uk-flex
            img.profile(src='~/static/keynote/keynote_256x256.png' alt='')
            div.detail
              h3 {{ $t('top.keynote.english.name') }}
              p
                |{{ $t('top.keynote.english.about') }}
