div
    top-hero
    top-key-note
    top-news
    top-place
    top-other
    top-sponsor
    top-staff
    //h1 Hello Pug {{ locale }}
    //button(uk-toggle="target: #test" type="button") test
    //#test(uk-modal)
    //    .uk-modal-dialog.uk-modal-body
    //        h2 test s<script>
