
// font-family
$global-font-family: "Noto Sans CJK JP", sans-serif;

//breakpoints
$breakpoint-small: 640px !default;
$breakpoint-medium: 960px !default;
$breakpoint-large: 1300px !default;
$breakpoint-xlarge: 1600px !default;

// $sponsor-1-2-width: 40%;
$sponsor-1-3-width: 378px;
$sponsor-1-4-width: 270px;

@mixin name { display: block; }
