section#TopHero.uk-section.uk-section-default
        h2 PyConJP 2018 {{ $t('top.hero.theme.2018') }}

        dl#event-summary.uk-list
            dt
                |{{ $t('top.hero.sprint.eventname') }}
            dd
                |{{ $t('top.hero.sprint.date') }}
            dt
                |{{ $t('top.hero.tutorial.eventname') }}
            dd
                |{{ $t('top.hero.tutorial.date') }}
            dt
                |{{ $t('top.hero.conference.eventname') }}
            dd
                |{{ $t('top.hero.conference.date-day1') }}/ {{ $t('top.hero.conference.date-day2') }}

            button.uk-button.uk-button-default.uk-button-larg.uk-inline(disabled href='#' target='_blank')
                |{{ $t('top.hero.application.ticket') }}

            ul.other-application-link.uk-flex.uk-flex-left
                li
                    a(href='#' target='_blank')
                      | {{ $t('top.hero.application.talk') }}
                li
                    a(href='https://docs.google.com/forms/d/e/1FAIpQLSdtYlETMPrz_LK-kSDsnJjMPcIkl1OKpRqfnse6d2mPr3MPaw/viewform' target='_blank')
                      | {{ $t('top.hero.application.staff') }}

            span(uk-icon='twitter')
            a(href='https://twitter.com/search?f=tweets&q=%23pyconjp' target='_blank')
                |#pyconjp
