article#session-lists
  ul.category-tab.uk-tab( data-uk-tab="{connect:'#list-contents'}" uk-switcher="{swiping:false}" )
    li.uk-active(data-tab="talks")
      a Talk Session
    li(data-tab="posters")
      a Posters
    li(data-tab="lts")
      a lightningTalks

  div#list-contents.uk-switcher
    div#talks
      ul.sessions
        li.uk-flex.uk-flex-wrap(v-for="talk in talks")
          sessionSummary(:session="talk" category="talk" isList="true" @summary-event="showDetail('talk',talk)")

    div#posters
      ul.sessions
        li.uk-flex.uk-flex-wrap(v-for="poster in posters")
          sessionSummary(:session="poster" category="poster" isList="true" @summary-event="showDetail('poster',poster)")

    ul#lts.uk-list-divider
      li hoge2

  SessionDetail(:category="currentSessionDetail.category" :session="currentSessionDetail.session", :date="currentSessionDetail.date", :no="currentSessionDetail.no")
