article#session-lists
  ul.category-tab
    li
      a
        font-size: 20px
        font-weight: 300

  #list-contents
    margin-bottom: 10rem
    ul.sessions
      li
        border-bottom: 1px solid #9B9B9B
        padding: .8rem 0
