article#session-lists
  ul.uk-tab( data-uk-tab="{connect:'#list-contents'}" )
    li.uk-active
      a Talk Session
    li
      a Lighting Talk
    li 
      a Posters

  div#list-contents.uk-switcher.uk-margin
    div#talk-session.uk-list-divider
      table.uk-table.uk-table-responsive.uk-table-divider
        thead
          tr
            th 
            th  
        tbody.uk-text-small
          tr
            td(colspan='2')
              span 2018-08-14 17:00 Talk(30min) room-A 
              span.uk-label.uk-marg 初心者
              span.uk-label.uk-margin-left tag1
          tr
            td title
            td 
              a(href='#modal-example', uk-toggle='') 詳細はこちら
    div#lighting-talk.uk-list-divider
      li hoge2
    div#posters.uk-list-divider
      li hoge3