#TopSponsor.uk-section.uk-section-default
    .uk-container.uk-text-center
        h2.uk-text-center {{ $t('top.sponsor.head') }}
        ul.uk-thumbnav(uk-margin)
            -
                var list = [
                {
                    link: '#',                
                    image: 'https://placehold.jp/190x100.png',
                    alt: 'スポンサー1',

                },
                {
                    link: '#',                
                    image: 'https://placehold.jp/190x100.png',
                    alt: 'スポンサー2',
                },
                ]
            each sponser in list
                li 
                    a(href=sponser.link target='_blank')
                        img(src=sponser.image alt=sponser.alt uk-img)
