section#TopSponsor.uk-section.uk-section-default.uk-container
    h2 {{ $t('top.sponsor.head') }}
        span {{ $t('top.sponsor.subcaption') }}
    div.loading(:class="top_sponsor_loading").uk-flex.uk-flex-center.uk-flex-column
      div(uk-spinner="ratio:1.5")
      p now loading

    ul(uk-margin class="uk-flex uk-flex-wrap uk-flex-center uk-flex-left@s")
        li(v-for="sponsor in top_sponsor_array").uk-flex.uk-flex-center.uk-flex-middle.uk-flex-column
            a(v-if="sponsor.siteUrl_ja" :href="sponsor.siteUrl_ja" target='_blank')
                img.sponsor-logo(:src="getImagePath(sponsor.imgPath)" :alt="sponsor.name_ja" uk-img)
                p(v-if='!showSponsorName(sponsor.imgPath)') {{ sponsor.name_ja }}
            img(v-else class="sponsor-logo" :src="getImagePath(sponsor.imgPath)" :alt="sponsor.name_ja" uk-img)
            p(v-if='!sponsor.siteUrl_ja && !showSponsorName(sponsor.imgPath)') {{ sponsor.name_ja }}
